# Copy this file to .env and set absolute local paths.
ZOTERO_PLUGIN_ZOTERO_BIN_PATH = D:\Code\zotero\tools\zotero-beta-build\zotero.exe
# ZOTERO_PLUGIN_ZOTERO_BIN_PATH = D:\Program Files\Zotero\zotero.exe

ZOTERO_PLUGIN_PROFILE_PATH = C:\Users\<you>\AppData\Roaming\Zotero\Zotero\Profiles\<profile>
# ZOTERO_PLUGIN_PROFILE_PATH = C:\\Users\\<you>\\AppData\\Roaming\\Zotero\\Zotero\\Profiles\\<profile>

# Absolute path to the local Zotero source checkout.
ZOTERO_SRC_PATH = D:\Code\zotero\zotero\zotero
